```gitignore
firebase-service-account.json
users.db
*.db
*.bak*
*.bak.*
uploads/
private_uploads/
data/
*.log
.env
```
public/.env.save
public/backup_*
node_modules/
*.bak
*.backup*
*.erro*
server.js.*
